version: "3.9"

services:
  redis:
    image: "redis:alpine"
    container_name: booking-kol-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  rabbitmq:
    image: "rabbitmq:3-management-alpine"
    container_name: booking-kol-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/


  app:
    image: nguyenthephong/bookingkol_be:1.3.1
    container_name: bookingkol_be_1.3.1
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - rabbitmq
    environment:
      - DEV_DATABASE_URL:${DEV_DATABASE_URL}
      - DEV_DATABASE_USERNAME:${DEV_DATABASE_USERNAME}
      - DEV_DATABASE_PASSWORD:${DEV_DATABASE_PASSWORD}
      - JWT_SECRET_KEY:${JWT_SECRET_KEY}
      - JWT_EXPIRATION_MS:${JWT_EXPIRATION_MS}
      - MAIL_USERNAME:${MAIL_USERNAME}
      - MAIL_PASSWORD:${MAIL_PASSWORD}
      - MAIL_HOST:${MAIL_HOST}
      - MAIL_PORT:${MAIL_PORT}
      - GEMINI_API_KEY:${GEMINI_API_KEY}
      - SUPABASE_ANON_URL:${SUPABASE_ANON_URL}
      - SUPABASE_ANON_KEY:${SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_ROLE_KEY:${SUPABASE_SERVICE_ROLE_KEY}
      - STORAGE_BUCKET:${STORAGE_BUCKET}
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=guest
      - SPRING_RABBITMQ_PASSWORD=guest

volumes:
  redis_data:
  rabbitmq_data:
